<div id="intro"
     class="bg-image shadow-1-strong"
     style="
              background-image: url('@Url.Content("~/Pictures/Header/HeaderMain.jpg")');
              height: 400px;
              ">
    <div class="mask text-white comnuyBackgroundColorGreenHeader">
        <div class="
                  container
                  d-flex
                  align-items-center
                  justify-content-center
                  text-center
                  h-100
                  ">
            <div class="text-white">
                <h1 class="mb-3">My Blog</h1>
                <h4 class="mb-4">Quidquid Latine dictum sit, altum videtur</h4>
            </div>
        </div>
    </div>
</div>
