<div class="bg-image shadow-1-strong mb-5"
     style="
              background-image: url('@Url.Content("~/Pictures/Header/HeaderMain.jpg")');
              height: 200px;
              ">
    <div class="mask text-white comnuyBackgroundColorGreenHeader">
        <div class="
                  container
                  d-flex
                  align-items-center
                  justify-content-center
                  text-center
                  h-100
                  ">
        </div>
    </div>
</div>
