@model _MyContentViewModel

        @{
            foreach(Tool tool in Model.Tools)
            {
                <tr>
                <td>
                        @{
                            // Den Namen der Toolgruppe anhand der ID abrufen
                            var toolGroup = Model.ToolGroups.FirstOrDefault(tg => tg.Id == tool.ToolGroup);
                            if (toolGroup != null)
                            {
                                @toolGroup.Name
                            }
                        }
                </td>
                <td>@tool.Name</td>
                <td>@tool.ShortDescription</td>
                </tr>
            }
        }