@model ComnuyWebWithAPI.Models.Tool 

<form asp-controller="ContentView" asp-action="SubmitCreateOrEditTool" enctype="multipart/form-data">

    <div class="card-header">
        <h5>Tool erstellen oder bearbeiten</h5>
    </div>

    <div class="card-body mt-3">

        <input hidden asp-for="Id" />

        <div class="row mb-2">
            <div class="col">
                <input class="form-control" asp-for="Name" type="text" placeholder="Name des Tool" />
            </div>
            <div class="col">
                <input id="shortDescriptionInput" class="form-control" asp-for="ShortDescription" type="text" maxlength="100" placeholder="Kurze Beschreibung" />
                <small id="charCount" class="text-muted">
                    <span>0</span> / 100 Zeichen
                </small>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col">
                <textarea rows="6" class="form-control" asp-for="Description" placeholder="Ausführliche Beschreibung"></textarea>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col">
                <input class="form-control" asp-for="WebAddress" type="url" placeholder="Webseite" />
            </div>
            <div class="col">
                <select class="form-control form-select" asp-for="ToolGroup">
                    @foreach (var toolGroup in ViewBag.ToolGroups)
                    {
                        <option value="@toolGroup.Id">@toolGroup.Name</option>
                    }
                </select>
            </div>
        </div>

        <div class="input-group mb-3">
            <label class="input-group-text" for="formFile">Bilder (max. 5)</label>
            <input type="file" class="form-control" id="formFile" name="file" multiple accept="image/*" max="5">
        </div>

@*        <div id="imagePreview"></div>*@

        <div class="card-footer mt-4">
            <button class="btn btn-primary" type="submit">Speichern</button>
        </div>

    </div>

</form>

<script>

    // Counter for shortDescription
    const inputElement = document.getElementById('shortDescriptionInput');
    const charCountElement = document.getElementById('charCount');

    inputElement.addEventListener('input', function () {
        const charCount = inputElement.value.length;
        charCountElement.querySelector('span').textContent = charCount;
    });


    // Preview image loader
    //function showImagePreview(input) {
    //    var previewContainer = document.getElementById("imagePreview");
    //    previewContainer.innerHTML = "";

    //    if (input.files) {
    //        var filesAmount = input.files.length;
    //        for (i = 0; i < filesAmount; i++) {
    //            var reader = new FileReader();

    //            reader.onload = function (event) {
    //                var image = document.createElement("img");
    //                image.src = event.target.result;
    //                image.className = "preview-image";
    //                previewContainer.appendChild(image);
    //            }

    //            reader.readAsDataURL(input.files[i]);
    //        }
    //    }
    //}

    //document.getElementById("formFile").addEventListener("change", function () {
    //    showImagePreview(this);
    //});
</script>
