@model ComnuyWebWithAPI.Models.Tool 

<form asp-controller="ContentView" asp-action="CreateOrEditTool" enctype="multipart/form-data">

    <div class="card-header">
        <h5>Tool erstellen oder bearbeiten</h5>
    </div>

    <div class="card-body mt-3">

        <input hidden asp-for="Id" />

        <div class="row mb-2">
            <div class="col">
                <input class="form-control" asp-for="Name" type="text" placeholder="Name des Tool" />
            </div>
            <div class="col">
                <input id="shortDescriptionInput" class="form-control" asp-for="ShortDescription" type="text" maxlength="100" placeholder="Kurze Beschreibung" />
                <small id="charCount" class="text-muted">
                    <span>0</span> / 100 Zeichen
                </small>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col">
                <textarea rows="6" class="form-control" asp-for="Description" placeholder="Ausführliche Beschreibung"></textarea>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col">
                <input class="form-control" asp-for="WebAddress" type="url" placeholder="Webseite" />
            </div>
            <div class="col">
                <select class="form-control form-select" asp-for="ToolGroup">
                    @foreach (var toolGroup in ViewBag.ToolGroups)
                    {
                        <option value="@toolGroup.Id">@toolGroup.Name</option>
                    }
                </select>
            </div>
        </div>

        <div class="card-footer mt-4">
            <button class="btn btn-primary" type="submit">Speichern</button>
        </div>

    </div>

</form>

<script>
    const inputElement = document.getElementById('shortDescriptionInput');
    const charCountElement = document.getElementById('charCount');

    inputElement.addEventListener('input', function () {
        const charCount = inputElement.value.length;
        charCountElement.querySelector('span').textContent = charCount;
    });
</script>
