@model _MyContentViewModel

<div>
    <a class="btn btn-primary" asp-controller="ContentView" asp-action="CreateOrEditTool">Neues Tool</a>
</div>

<div class="mt-4 mb-4">
    <button class="btn btn-secondary">Meine Tools</button>
</div>


<table id="myContentToolTable" class="table table-bordered table-striped table-hover">
    <thead class="table-dark">
        <tr>
            <th>Plattform</th>
            <th>Name</th>
            <th>Kurzbeschreibung</th>
            <th>Aktionen</th>
        </tr>
    </thead>

    <tbody>
        <partial name="_MyContentToolPartial" />
    </tbody>
</table>

@section scripts {
    <script>
        $(document).ready(function () {
            $('#myContentToolTable').DataTable();
        });
    </script>
}