@model _MyContentViewModel

<div class="mb-5">
    <a class="btn btn-primary" asp-controller="ContentView" asp-action="CreateOrEditTool">Neues Tool</a>
</div>


<table id="myContentToolTable" class="stripe hover" style="width:100%">
    <thead>
        <tr>
            <th>Plattform</th>
            <th>Name</th>
            <th>Kurzbeschreibung</th>
            <th>Aktionen</th>
        </tr>
    </thead>

    <tbody>
        <partial name="_MyContentToolPartial" />
    </tbody>
</table>

@*<div class="datatable">
    <table id="example" class="mdl-data-table" style="width:100%">
        <thead>
            <tr>
                <th class="th-sm">Plattform</th>
                <th class="th-sm">Name</th>
                <th class="th-sm">Kurzbeschreibung</th>
                <th class="th-sm">Aktion</th>
            </tr>
        </thead>
        <tbody id="datatable-body">
            @await Html.PartialAsync("_MyContentToolPartial")
        </tbody>
    </table>
</div>*@

@section scripts {
    <script>
        //$(document).ready(function () {
        //    $('#myContentToolTable').DataTable();
        //});
        new DataTable('#myContentToolTable', {
            order: [[0, 'asc']],
            pagingType: 'full_numbers',
            scrollX: true,
            language: {
                url: 'https://cdn.datatables.net/plug-ins/1.11.5/i18n/de-DE.json'
            }
        });
    </script>
}