@model _MyContentViewModel

<div class="mb-5">
    <a class="btn btnGreen" asp-controller="ContentView" asp-action="CreateOrEditTool"><i class="fas fa-plus me-3"></i>Neues Tool</a>
</div>


<table id="myContentToolTable" class="stripe hover" style="width:100%">
    <thead>
        <tr>
            <th>Name</th>
            <th>Kurzbeschreibung</th>
            <th>Plattform</th>
            <th>Aktionen</th>
        </tr>
    </thead>

    <tbody>
        <partial name="_MyContentToolPartial" />
    </tbody>
</table>

@section scripts {
    <script>
        new DataTable('#myContentToolTable', {
            order: [[0, 'asc']],
            pagingType: 'full_numbers',
            scrollX: true,
            language: {
                url: 'https://cdn.datatables.net/plug-ins/1.11.5/i18n/de-DE.json'
            }
        });

        function deleteToolFromDb(id) {
            document.addEventListener('confirm.mdb.popconfirm', () => {
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("DeleteToolFromDb")",
                    data: { id: id },
                    success: function (msg) {
                        location.reload();
                    }
                })
            });
        }
    </script>
}