@model _MyContentViewModel

<div>
    <a class="btn btn-primary" asp-controller="ContentView" asp-action="CreateOrEditTool">Neues Tool</a>
</div>

<div class="mt-4">
    <button class="btn btn-secondary">Meine Tools</button>
</div>

<div>
    <partial name="_MyContentToolPartial" />
</div>