@model _ContentDeliveryModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="container my-5">
    <partial name="_ToolsNewestPartial" />
    <partial name="_ToolsRecommendationsPartial" />
</div>





