.comnuyBackgroundColorGreen {
    background-color: rgba(0,194,126,255)
}

.btnGreen {
    background-color: rgba(0,194,126,255);
    color: white;
}

    .btnGreen:hover {
        background-color: rgba(0,194,126,255);
        color: rgba(57,85,107,255)
    }

.btnWhite {
    background-color: white;
    color: rgba(0,194,126,255);
}

    .btnWhite:hover {
        background-color: white;
        color: rgba(57,85,107,255)
    }

.comnuyTextColorGreen {
    color: rgba(0,194,126,255) !important
}

.comnuyBackgroundColorGrey {
    background-color: rgba(57,85,107,255)
}

.comnuyTextColorGrey {
    color: rgba(57,85,107,255) !important
}
