:root {
    --green: rgba(0,194,126,255);
    --greenHeader: rgba(0, 194, 126, 0.6);
    --white: white;
    --grey: rgba(57,85,107,255);
    --greyHoverCards: rgba(57, 85, 107, 0.1);
}

.comnuyBackgroundColorGreen {
    background-color: var(--green);
}

.comnuyBackgroundColorGreenHeader {
    background-color: var(--greenHeader);
}

.btnGreen {
    background-color: var(--green);
    color: var(--white);
}

    .btnGreen:hover {
        background-color: var(--green);
        color: var(--grey);
    }

.btnWhite {
    background-color: var(--white);
    color: var(--green);
}

    .btnWhite:hover {
        background-color: var(--white);
        color: var(--grey);
    }

.comnuyTextColorGreen {
    color: var(--green) !important;
}

.comnuyBackgroundColorGrey {
    background-color: var(--grey);
}

.comnuyTextColorGrey {
    color: var(--grey) !important;
}

.comnuyBackgroundColorHoverGrey {
    background-color: var(--greyHoverCards);
}
